html, body, .container, .container-fluid {
    overflow: auto;
}

#navbar {
    overflow: auto;
}

#navbarSearchForm {
    margin-left: 5rem;
}

footer {
    background-color: #c5c8c3;
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    padding: 0.5rem;
}

.stick-to-bottom {
    position: absolute;
    bottom: 0;
}

.centered {
    display: block !important;
    margin: auto;
}

.img-medium {
    width: 100px;
    height: 100px;
}

.img-small {
    width: 75px;
    height: 75px;
}

.img-tiny {
    width: 50px;
    height: 50px;
}

.clear-both {
    clear: both;
}

.small-padding-right {
    padding-right: 1rem;
}

.medium-padding-right {
    padding-right: 3rem;
}

.overflow-auto {
    overflow: auto;
}

.upvote-button {
    background-color: #62c462;
    padding: 1rem;
    border-radius: 50%;
}

.upvote-button:hover {
    cursor: pointer;
    background-color: #356635;
}

.downvote-button {
    background-color: #ff4d44;
    padding: 1rem;
    border-radius: 50%;
}

.downvote-button:hover {
    cursor: pointer;
    background-color: #972d28;
}

.post-forms {
    padding: 1rem;
    border-left: 0.1rem solid black;
}

.post {
    border: 0.1rem solid black;
}

.small-form {
    width: 50%;
    background-color: #eaeaea;
    margin: auto;
    padding: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}