<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %} {% endblock %}
    </title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    {% block stylesheets %} {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/adjustStyle.js"></script>
    {% block scripts %} {% endblock %}
</head>
<body>

<nav id="navbar" class="navbar navbar-fixed-top navbar-inverse">
    <ul class="nav nav-pills pull-right">
        {% if currentUser %}
            <li role="presentation">
                <a href="/profile">Your profile</a>
            </li>
            <li role="presentation">
                <a href="/logout">Log out</a>
            </li>
        {% else %}
            <li role="presentation" class="{{ navRegisterClass }}">
                <a href="/register">Register</a>
            </li>
            <li role="presentation" class="{{ navLoginClass }}">
                <a href="/login">Log in</a>
            </li>
        {% endif %}
    </ul>

    <ul class="nav nav-pills pull-left">
        <li role="presentation" class="{{ navHomeClass }}">
            <a href="/">Home</a>
        </li>
        <li role="presentation" class="{{ navCategoriesClass }}">
            <a href="/categories">Categories</a>
        </li>
    </ul>

    <form action="/processSearch" method="post" class="navbar-form pull-left" role="search" id="navbarSearchForm">
        <section class="form-group">
            <input type="text" name="searchTerm" class="form-control" placeholder="search" required value="{{ formData.searchTerm }}">
        </section>
        <input type="submit" value="Search" class="btn btn-default">
    </form>

    {% if currentUser %}
        <img src="{{ userProfilePicture }}" class="img-tiny">
        <span style="padding: 0.2rem; color: blue; font-family: sans-serif; font-weight: 600;">You are logged in, {{ currentUser.username }}.
        {% if currentUser.administrator %}
            You are an administrator.
        {% endif %}
        </span>
    {% endif %}
</nav>

<header class="jumbotron">
    <h1>Julek's Forum</h1>
</header>

<main class="container-fluid" id="main">
    {% if message %}
        <div id="form-message" class="{{ message.class }}">
            {{ message.content }}
        </div>
    {% endif %}
    {% block main %} {% endblock %}
</main>
<footer>
    Copyright 2016 Juliusz Karski&copy;
</footer>
</body>
</html>