{% extends '_base.html.twig' %}

{% block title %}
    Categories
{% endblock %}

{% block main %}
    <h2>Categories</h2>
    <p>All forum categories will be retrieved from the database and displayed here.</p>
    <hr>

    {% for cat in categories %}
        <div>
            <h3><a href="/categories/{{ cat.id }}">{{ cat.name }}</a></h3>
            {% if currentUser.administrator %}
                <form action="/deleteCategory" method="get" class="form-inline">
                    <input type="hidden" value="{{ cat.id }}" name="categoryId">
                    <button type="submit" class="btn btn-danger">Delete <span class="glyphicon glyphicon-remove"></span></button>
                </form>
                <form action="/editCategory" method="get" class="form-inline">
                    <input type="hidden" value="{{ cat.id }}" name="categoryId">
                    <button type="submit" class="btn btn-default">Edit <span class="glyphicon glyphicon-edit"></span></button>
                </form>
            {% endif %}
            <p>{{ cat.description }}</p>
        </div>
    {% endfor %}
    <hr>
    {% if currentUser.administrator %}
        <a href="/createCategory"><button class="btn btn-default">Create a category <span class="glyphicon glyphicon-plus-sign"></span></button></a>
    {% endif %}



{% endblock %}