{% extends '_base.html.twig' %}

{% block title %}
    {{ categoryName }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/forms.css">
{% endblock %}

{% block main %}
    <h2>{{ categoryName }}</h2>
    <p>
        {{ description }}
    </p>

    <form action="/processCreateThread" method="post" class="small-form">
        <label for="threadSubject">Thread subject: </label>
        <input type="text" id="threadSubject" name="threadSubject" pattern=".{8,256}" required placeholder="thread subject" class="form-control" title="between 16 and 256 characters" value="{{ formData.createThreadSubject }}">
        <button class="btn btn-primary centered" type="submit">Create a new thread <span class="glyphicon glyphicon-plus-sign"></span></button>
    </form>
    <h3>Threads</h3>
    <div class="overflow-auto">
        {% for thread in threads %}
            <hr class="clear-both">
            <h3 class="pull-left clear-both"><a href="/categories/{{ categoryId }}/{{ thread.id }}">{{ thread.subject }}</a></h3>
            <img src="{{ thread.profilePicture }}" alt="profile picture" class="img-small pull-left clear-both small-padding-right">
            <section class="pull-left">
                <p><strong>Created on: </strong>{{ thread.dateCreated }}</p>
                <p><strong>Created by: </strong>{{ thread.threadBy }}</p>
                <p class="text-success"><strong>Upvotes: {{ thread.upVotes }}</strong></p>
                <p class="text-danger"><strong>Downvotes: {{ thread.downVotes }}</strong></p>
            </section>
            <form action="/processThreadVote" method="post" class="pull-left clear-both">
                <input type="hidden" value="{{ thread.id }}" name="threadId">
                <button type="submit" value="up" class="{% if thread.currentUserUpvoted %} btn btn-primary {% else %} btn btn-success {% endif %}" name="upvote"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                <button type="submit" value="down" class="{% if thread.currentUserDownvoted %} btn btn-primary {% else %} btn btn-danger {% endif %}" name="downvote"><span class="glyphicon glyphicon-thumbs-down"></span></button>
            </form>
            {% if currentUser.administrator or currentUser.username == thread.threadBy %}
                <section class="pull-left clear-both">
                    <form action="/deleteThread" method="get">
                        <input type="hidden" value="{{ thread.id }}" name="threadId">
                        <button type="submit" class="btn btn-danger">Delete <span class="glyphicon glyphicon-remove"></span></button>
                    </form>
                    <form action="/editThread" method="get">
                        <input type="hidden" value="{{ thread.id }}" name="threadId">
                        <button type="submit" class="btn btn-default">Edit <span class="glyphicon glyphicon-edit"></span></button>
                    </form>
                </section>
            {% endif %}
            <br>
        {% endfor %}
    </div>

{% endblock %}