{% extends '_base.html.twig' %}

{% block title %}
    Admin - create category
{% endblock %}

{% block main %}
    {% if currentUser.administrator %}
        <h2>Create a category</h2>
        <form action="/processCreateCategory" method="post">
            <section class="form-group">
                <label for="catName">Category name: </label>
                <input type="text" class="form-control" name="catName" pattern=".{6,128}" title="between 6 and 128 characters" required id="catName" value="{{ formData.createCategoryName }}">
            </section>
            <section class="form-group">
                <label for="catDescription">Category description: </label>
                <input type="text" class="form-control" name="catDescription" pattern=".{16,512}" title="between 16 and 512 characters" required id="catDescription" value="{{ formData.createCategoryDescription }}">
            </section>
            <hr>
            <input type="submit" value="Create" class="btn btn-default">
        </form>
    {% endif %}

{% endblock %}