{% extends '_base.html.twig' %}

{% block title %}
    Admin - delete thread
{% endblock %}

{% block main %}
    {#{% if currentUser.administrator %}#}
        <h2>Delete thread</h2>
        <p class="lead text-danger">Are you sure you want to delete thread <strong>{{ threadSubject }}</strong>? This will delete all posts associated with that thread. This action is irreversible!</p>
        <form action="/processDeleteThread" method="post">
            <section class="form-group">
                <label for="password">Your password: </label>
                <input type="password" name="password" id="password" class="form-control" value="{{ formData.deleteThreadPassword }}" pattern=".{8,256}" title="between 8 and 256 characters">
            </section>
            <input type="submit" value="Delete" class="btn btn-danger">
            <a href="{{ referer }}"><input type="button" value="Cancel" class="btn btn-default"></a>
        </form>
    {#{% endif %}#}

{% endblock %}