{% extends '_base.html.twig' %}

{% block title %}
    Admin - delete category
{% endblock %}

{% block main %}
    <p class="lead text-danger">Are you sure you want to delete your account?</p>
    <form action="/processDeleteAccount" method="post">
        <section class="form-group">
            <label for="password">Your password: </label>
            <input type="password" id="password" name="password" required pattern="{8,256}" title="between 8 and 256 characters" placeholder="**********" value="{{ formData.deleteAccountPassword }}">
        </section>
        <input type="submit" value="Delete Account" class="btn btn-large btn-danger">
    </form>
{% endblock %}