{% extends '_base.html.twig' %}

{% block title %}
    Admin - delete category
{% endblock %}

{% block main %}
    {% if currentUser.administrator %}
        <h2>Delete category</h2>
        <p class="lead text-danger">Are you sure you want to delete category <strong>{{ categoryName }}</strong>? This will delete all threads and posts associated with that category. This action is irreversible!</p>
        <form action="/processDeleteCategory" method="post">
            <section class="form-group">
                <label for="password">Your password: </label>
                <input type="password" name="password" id="password" pattern=".{8,256}" title="between 8 and 256 characters" class="form-control" value="{{ formData.deleteCategoryPassword }}">
            </section>
            <input type="submit" value="Delete" class="btn btn-danger">
            <a href="{{ referer }}"><input type="button" value="Cancel" class="btn btn-default"></a>
        </form>
    {% endif %}

{% endblock %}