{% extends '_base.html.twig' %}

{% block title %}
    Admin - delete post
{% endblock %}

{% block main %}
    <h2>Delete post</h2>
    <p class="lead text-danger">Are you sure you want to delete the post? This action is irreversible!</p>
    <form action="/processDeletePost" method="post">
        <section class="form-group">
            <label for="password">Your password: </label>
            <input type="password" name="password" id="password" class="form-control" value="{{ formData.deletePostPassword }}" pattern=".{8,256}" title="between 8 and 256 characters">
        </section>
        <input type="submit" value="Delete" class="btn btn-danger">
        <a href="{{ referer }}"><input type="button" value="Cancel" class="btn btn-default"></a>
    </form>

{% endblock %}