{% extends '_base.html.twig' %}

{% block title %}
    Edit post
{% endblock %}

{% block main %}
    <h2>Edit post</h2>
    <p class="lead">Are you sure you want to edit this post?</p>
    <form action="/processEditPost" method="post">
        <section class="form-group">
            <label for="password">Your password: </label>
            <input type="password" name="password" id="password" class="form-control" required value="{{ formData.editPostPassword }}" pattern=".{8,256}" title="between 8 and 256 characters">
        </section>
        <section class="form-group">
            <label for="newContent">New content: </label>
            <textarea id="newContent" name="newContent" required class="form-control">{% if formData.editPostContent %}{{ formData.editPostContent }}{% else %}{{ postContent }}{% endif %}</textarea>
        </section>
        <input type="submit" value="Edit" class="btn btn-primary">
        <a href="{{ referer }}"><input type="button" value="Cancel" class="btn btn-default"></a>
    </form>
{% endblock %}