{% extends '_base.html.twig' %}

{% block title %}
    Admin - edit category
{% endblock %}

{% block main %}
    {% if currentUser.administrator %}
        <h2>Update category</h2>
        <p class="lead">Are you sure you want to edit category <strong>{{ categoryName }}</strong>?</p>
        <form action="/processEditCategory" method="post">
            <section class="form-group">
                <label for="password">Your password: </label>
                <input type="password" name="password" id="password" class="form-control" pattern=".{8,256}" title="between 8 and 256 characters" required value="{{ formData.editCategoryPassword }}">
            </section>
            <section class="form-group">
                <label for="newName">New name: </label>
                <input type="text" id="newName" name="newName" required title="between 6 and 128 characters" pattern=".{6,128}" class="form-control" value="{% if formData.editCategoryName %}{{ formData.editCategoryName }}{% else %}{{ categoryName }}{% endif %}">
            </section>
            <section class="form-group">
                <label for="newDescription">New description: </label>
                <textarea rows="5" cols="20" class="form-control" name="newDescription">{% if formData.editCategoryDescription %}{{ formData.editCategoryDescription }}{% else %}{{ categoryDescription }}{% endif %}</textarea>
            </section>
            <input type="submit" value="Edit" class="btn btn-primary">
            <a href="{{ referer }}"><input type="button" value="Cancel" class="btn btn-default"></a>
        </form>
    {% endif %}

{% endblock %}