{% extends '_base.html.twig' %}

{% block title %}
    Admin - edit thread
{% endblock %}

{% block main %}
    {#{% if currentUser.administrator %}#}
        <h2>Update thread</h2>
        <p class="lead">Are you sure you want to edit thread <strong>{{ threadSubject }}</strong>?</p>
        <form action="/processEditThread" method="post">
            <section class="form-group">
                <label for="password">Your password: </label>
                <input type="password" name="password" id="password" class="form-control" required value="{{ formData.editThreadPassword }}" pattern=".{8,256}" title="between 8 and 256 characters">
            </section>
            <section class="form-group">
                <label for="newName">New name: </label>
                <input type="text" id="newName" name="newName" required class="form-control" value="{% if formData.editThreadSubject %}{{ formData.editThreadSubject }}{% else %}{{ threadSubject }}{% endif %}" pattern=".{8,256}" title="between 8 and 256 characters">
            </section>
            <input type="submit" value="Edit" class="btn btn-primary">
            <a href="{{ referer }}"><input type="button" value="Cancel" class="btn btn-default"></a>
        </form>
    {#{% endif %}#}

{% endblock %}