{% extends '_base.html.twig' %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h2>Welcome</h2>
    <p class="lead">This is a forum where you can discuss various topics. Whatever you are interested in, I'm sure we've got something for you. You can ask questions and talk to people whom you share interests with. Just create an account and get started!</p>
{% endblock %}