{% extends '_base.html.twig' %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    {% if currentUser %}
        <p class="lead">You are already logged in!</p>
    {% else %}
        <form action="/processLogin" method="post" class="small-form">
            <fieldset>
                <legend>Log In</legend>
                <section class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required placeholder="eg. johnSmith123" class="form-control" value="{{ formData.loginUsername }}" pattern=".{5,32}" title="between 5 and 32 characters">
                </section>
                <section class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required placeholder="**********" class="form-control" value="{{ formData.loginPassword }}" pattern=".{8,256}" title="between 8 and 256 characters">
                </section>
                <hr>
                <input type="submit" value="Log In" class="btn btn-primary centered">
            </fieldset>
        </form>
    {% endif %}

{% endblock %}