{% extends '_base.html.twig' %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    {% if currentUser %}
        <div>
            <h2>{{ currentUser.username }}</h2>
            <div class="pull-left clear-both">
                <img src="{{ userProfilePicture }}" alt="profilePicture" class="img-medium img-thumbnail">
                <form action="/processPictureUpload" method="post" enctype="multipart/form-data">
                    <label for="picture">Change your profile picture: </label>
                    <input type="file" name="picture" id="picture" required>
                    <input type="submit" value="Change picture" class="btn btn-primary">
                </form>
                <dl class="dl-horizontal">
                    <dt>date joined </dt>
                    <dd> {{ currentUser.dateJoined }}</dd>
                    <dt>email </dt>
                    <dd> {{ currentUser.email }}</dd>
                    <dt>reputation </dt>
                    <dd>{{ currentUser.reputation }}</dd>
                </dl>
            </div>
            <div class="pull-right medium-padding-right">
                <a href="/deleteAccount"><input type="button" value="Delete account" class="btn btn-danger"></a>
                <hr>
                <form action="/processChangePassword" method="post">
                    <fieldset>
                        <legend>Change password</legend>
                        <section class="form-group">
                            <label for="currentPassword">Current password: </label>
                            <input type="password" id="currentPassword" name="currentPassword" pattern="{8,256}" title="between 8 and 256 characters" placeholder="**********" required value="{{ formData.changePasswordCurrent }}" class="form-control">
                        </section>
                        <section class="form-group">
                            <label for="newPassword1">New password: </label>
                            <input type="password" id="newPassword1" name="newPassword1" pattern="{8,256}" title="between 8 and 256 characters" placeholder="**********" required value="{{ formData.changePasswordNew1 }}" class="form-control">
                        </section>
                        <section class="form-group">
                            <label for="newPassword2">Repeat new password: </label>
                            <input type="password" id="newPassword2" name="newPassword2" pattern="{8,256}" title="between 8 and 256 characters" placeholder="**********" required value="{{ formData.changePasswordNew2 }}" class="form-control">
                        </section>
                        <input type="submit" class="btn btn-default" value="Change">
                    </fieldset>
                </form>
            </div>
            <div class="pull-left clear-both">
                <h3>Your threads</h3>
                <hr>
                {% if threads %}
                    {% for thread in threads %}
                        <h4><a href="{{ thread.link }}">{{ thread.subject }}</a></h4>
                        <p>date: {{ thread.date }}</p>
                    {% endfor %}
                {% else %}
                    <p class="lead">Empty - you haven't created any threads</p>
                {% endif %}
                <h3>Your posts</h3>
                <hr>
                {% if posts %}
                    {% for post in posts %}
                        <h4><a href="{{ post.link }}">{{ post.content }}</a></h4>
                        <p>date: {{ post.date }}</p>
                    {% endfor %}
                {% else %}
                <p class="lead">Empty - you haven't posted anything</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}