{% extends '_base.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    {% if currentUser %}
        <p class="lead">You are already registered. Logged in even!</p>
    {% else %}
        <form action="/processRegistration" method="post">
            <fieldset>
                <legend>Register</legend>
                <section class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required placeholder="eg. johnSmith123" class="form-control" value="{{ formData.registrationUsername }}" pattern=".{5,32}" title="between 5 and 32 characters">
                </section>
                <section class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required placeholder="eg. john.smith@gmail.com" class="form-control" value="{{ formData.registrationEmail }}" pattern=".{5,256}" title="between 5 and 256 characters">
                </section>
                <section class="form-group">
                    <label for="password1">Password</label>
                    <input type="password" id="password1" name="password1" required placeholder="**********" class="form-control" value="{{ formData.registrationPassword1 }}" pattern=".{8,256}" title="between 8 and 256 characters">
                </section>
                <section class="form-group">
                    <label for="password2">Confirm password</label>
                    <input type="password" id="password2" name="password2" required placeholder="**********" class="form-control" value="{{ formData.registrationPassword2 }}" pattern=".{8,256}" title="between 8 and 256 characters">
                </section>
                <hr>
                <input type="submit" value="Register" class="btn btn-primary">
            </fieldset>
        </form>
    {% endif %}
{% endblock %}