{% extends '_base.html.twig' %}

{% block title %}
    Search results
{% endblock %}


{% block main %}
    <h2>Categories matching your search</h2>
    {% for category in categoryResults %}
        <p>{{ category.name }}</p>
    {% endfor %}
    <hr>
    <h2>Threads matching your search</h2>
    {% for thread in threadResults %}
        <p>{{ thread.subject }}</p>
    {% endfor %}
    <hr>
    <h2>Posts matching your search</h2>
    {% for post in postResults %}
        <p>{{ post.postContent }}</p>
    {% endfor %}
    <hr>
{% endblock %}