{% extends '_base.html.twig' %}

{% block title %}
    Thread
{% endblock %}

{% block main %}

    <div>
        <h2>{{ currentThread.subject }}</h2>
        <p><strong>by:</strong> {{ currentThread.threadBy }}<strong> on:</strong> {{ currentThread.dateCreated }}</p>
    </div>
    <form action="/processCreatePost" method="post" class="small-form">
        <fieldset>
            <legend>Post a reply</legend>
            <section class="form-group">
                <label for="postContent">Your post: </label>
                <textarea rows="4" cols="20" id="postContent" name="post" required placeholder="your post here..."
                          class="form-control">{{ formData.createPostContent }}</textarea>
            </section>
            <hr>
            <input type="submit" value="submit" class="btn btn-default centered">
        </fieldset>
    </form>
    <hr>

    {% if posts %}
        <div class="overflow-auto">
            {% for post in posts %}
                <div class="post overflow-auto">
                    <section class="pull-right post-forms">
                        <form action="/processPostVote" method="post">
                            <input type="hidden" value="{{ post.id }}" name="postId">
                            <button type="submit" value="up" class="{% if post.currentUserUpvoted %} btn btn-primary {% else %} btn btn-success {% endif %}" name="upvote"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                            <button type="submit" value="down" class="{% if post.currentUserDownvoted %} btn btn-primary {% else %} btn btn-danger {% endif %}" name="downvote"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                        </form>
                        {% if currentUser.administrator or currentUser.username == post.user %}
                            <form action="/deletePost" method="get">
                                <input type="hidden" value="{{ post.content }}" name="postContent">
                                <input type="hidden" value="{{ post.date }}" name="postDate">
                                <input type="hidden" value="{{ post.user }}" name="postUser">
                                <button type="submit" class="btn btn-danger">Delete <span class="glyphicon glyphicon-remove"></span></button>
                            </form>
                            <form action="/editPost" method="get">
                                <input type="hidden" value="{{ post.content }}" name="postContent">
                                <input type="hidden" value="{{ post.date }}" name="postDate">
                                <input type="hidden" value="{{ post.user }}" name="postUser">
                                <button type="submit" class="btn btn-default">Edit <span class="glyphicon glyphicon-edit"></span></button>
                            </form>
                        {% endif %}
                    </section>
                    <dl class="dl-horizontal">
                    <dt><img src="{{ post.profilePicture }}" alt="profilePicture" class="img-small"></dt>
                        <dt>{{ post.user }}<br>{{ post.date }}</dt>
                        <dt class="text-success clear-both">upvotes: {{ post.upVotes }}</dt>
                        <dt class="text-danger clear-both">downvotes: {{ post.downVotes }}</dt>
                        <dd>{{ post.content }}</dd>
                    </dl>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}